.winner-container {
  .user-win {
    font-size: 32px;
    color: #00ff00;
  }

  .computer-win {
    font-size: 32px;
    color: #ff0000;
  }

  .tie-win {
    font-size: 32px;
    color: #ffffff;
  }
}
